body {
  background-image: url(../images/lgi01a201411091900.jpg);
}
#Moncanvas {
  background-color: transparent;
  position:absolute;
  top:10px;
  left:10px;
}
#canvas_bg {
  background-color: #fff;
  position:absolute;
  top:10px;
  left:10px;
}
